<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga Daily</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style-views.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <!-- header----------------------------------- -->
    <section>
        <div class="header">
            <div class="bg-menu">
                <nav>
                    <div class="menu-icon">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>
                    <div class="col-12 logo d-flex">
                        <a href="../../index.html"><img src="/img/logo-yogadaily1.png" alt=""></a>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="/views/introduction/">Giới thiệu</a></li>
                            <li><a href="/views/class/">Lớp học</a></li>
                            <li><a href="/views/club/">Câu lạc bộ</a></li>
                            <!-- <li><a href="/views/time/">Lịch học</a></li> -->
                            <li><a href="/views/blog/">Blog</a></li>
                            <li><a href="/views/contact/">Liên hệ</a></li>
                            <li><a href="#" type="button" class="btn btn-primary btn-slide" data-toggle="modal"
                                    data-target="#staticBackdrop">Đăng nhập</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- <div class="bg-header">
            </div> -->
        </div>
    </section>

    <!-- contain----------------------------------- -->
    <section>
        <div class="contain">
            <div class="post">
                <div class="row">
                    <div class="col-12 col-md-5 img">
                    </div>
                    <div class="col-12 col-md-7 description">
                        <div class="tittle">
                            <div class="name">
                                <h4>HỒ NGỌC HÀ</h4>
                            </div>
                            <div class="said">
                                <p>"Ít ai biết, để sở hữu được thân hình săn chắc và quyến rũ như vậy,
                                     Hà đã trải qua một kì huấn luyện cam go về thể chất và đặc biệt 
                                     là một chế độ dinh dưỡng nghiêm ngặt. Các bài tập mà Huấn luyện viên tại TT
                                      Yoga Daily thường áp dụng cho Hà chính là lunge, gập bụng, jumping squat trên cầu thang, plank… 
                                      Không những vậy, Hà còn tuân thủ tuyệt đối kế hoạch dinh dưỡng mà đội ngũ chuyên gia hình thể và dinh dưỡng 
                                      của Yoga Daily đề xuất. Chỉ sau hai tháng, cơ thể của Hà đã có những thay đổi 
                                      thật sự tích cực. Tỉ lệ mỡ toàn cơ thể của Hà rơi vào mức 18%. Đây là một con số cực kì 
                                      lý tưởng của các mỹ nhân thế giới."</p>
                            </div>
                        </div>
                        
                        <div class="img-more row">
                            <div class="col-6 img-more-com img-more-1"></div>
                            <div class="col-6 img-more-com img-more-2"></div>
                        
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                ĐĂNG KÝ NGAY TẬP THỬ
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header row">
                            <div class="contain col-6">
                                <h5 class="modal-title" id="exampleModalLabel">ĐĂNG KÝ ĐỂ NHẬN NGAY</h5>
                                <img src="img/7days.png" alt="">
                                <p>Hãy nhanh tay đăng ký để được trải nghiệm trung tâm gần nhất và nhận tư vấn miễn phí
                                    về dịch vụ tại Yoga Daily!</p>
                                <form action="" class="form">
                                    <input type="text" placeholder="Họ và Tên">
                                    <input type="text" placeholder="Số điện thoại">
                                    <input type="text" placeholder="Địa chỉ">
                                    <button class="btn">ĐĂNG KÝ NGAY</button>
                                </form>
                            </div>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- students -->
            <div class="students">
                <div class="students-tittle">
                    <h2>HỘI VIÊN NỔI TIẾNG</h2>
                </div>
                <div class="students-slides">
                    <div class="row">
                        <div class="col-6 col-md-3 student-box">
                            <a href="#">
                                <div class="slide-image">
                                <div class="slide-image-small slide-image-1"></div>
                                </div>
                                <div class="slide-description">
                                    <h3>PHẠM HƯƠNG</h3>
                                    <p>Ca sĩ</p>
                                </div>
                            </a>


                        </div>
                        <div class="col-6 col-md-3 student-box">
                            <a href="#">
                                <div class="slide-image">
                                    <div class="slide-image-small slide-image-2"></div>
                                </div>
                                <div class="slide-description">
                                    <h3>PHƯƠNG MAI</h3>
                                    <p>Người mẫu</p>
                                </div>
                            </a>

                        </div>
                        <div class="col-6 col-md-3 student-box">
                            <a href="#">
                                <div class="slide-image">
                                    <div class="slide-image-small slide-image-3"></div>
                                    <!-- <img src="img/tv3.jpg" alt=""> -->
                                </div>
                                <div class="slide-description">
                                    <h3>VŨ CÁT TƯỜNG</h3>
                                    <p>Ca sĩ</p>
                                </div>
                            </a>

                        </div>
                        <div class="col-6 col-md-3 student-box">
                            <a href="#">
                                <div class="slide-image">
                                    <div class="slide-image-small slide-image-4"></div>
                                </div>
                                <div class="slide-description">
                                    <h3>DIỄM MY</h3>
                                    <p>Diễn viên</p>
                                </div>
                            </a>

                        </div>
                        <div class="col-6 col-md-3 student-box">
                            <a href="#">
                                <div class="slide-image">
                                    <div class="slide-image-small slide-image-5"></div>
                                </div>
                                <div class="slide-description">
                                    <h3>HƯƠNG GIANG</h3>
                                    <p>Người mẫu</p>
                                </div>
                            </a>

                        </div>
                        <div class="col-6 col-md-3 student-box">
                            <a href="#">
                                <div class="slide-image">
                                    <div class="slide-image-small slide-image-6"></div>
                                </div>
                                <div class="slide-description">
                                    <h3>HỒ VĨNH KHOA</h3>
                                    <p>Ca sĩ / Người mẫu</p>
                                </div>
                            </a>

                        </div>
                        <div class="col-6 col-md-3 student-box">
                            <a href="#">
                                <div class="slide-image">
                                    <div class="slide-image-small slide-image-7"></div>
                                </div>
                                <div class="slide-description">
                                    <h3>CHIPU</h3>
                                    <p>Ca sĩ</p>
                                </div>
                            </a>

                        </div>
                        <div class="col-6 col-md-3 student-box">
                            <a href="views/student/hongocha.html">
                                <div class="slide-image">
                                    <div class="slide-image-small slide-image-8"></div>
                                </div>
                                <div class="slide-description">
                                    <h3>HỒ NGỌC HÀ</h3>
                                    <p>Ca sĩ / Người mẫu</p>
                                </div>
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </div>  
    </section>

    <!-- footer----------------------------------- -->
    <section>
        <div class="footer">
            <div class="row d-flex">
                <div class="col-12 col-md-2">
                    <img src="../img/logo-yogadaily1.png" style="width: 100%;" alt="">
                </div>
                <div class="col-4 col-md-2">
                    <div>
                        <h2>LIÊN KẾT</h2>
                    </div>
                    <div>
                        <ul>
                            <li>UFC GYM</li>
                            <li>Yoga Plus</li>
                            <li>Canofornia C</li>
                        </ul>
                    </div>

                </div>
                <div class="col-4 col-md-2">
                    <div>
                        <h2>DỊCH VỤ</h2>
                    </div>
                    <div>
                        <ul>
                            <li>Lớp học trung tâm</li>
                            <li>Lớp học trực tuyến</li>
                            <li>Lớp học thêm</li>
                        </ul>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div>
                        <h2>ĐỊA CHỈ</h2>
                    </div>
                    <div>
                        <ul>
                            <li>Số 126 Hùng Vương</li>
                            <li>Số 150A Lĩnh Nam</li>
                            <li>Số 56 Minh Khai</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div>
                        <h2>HOTLINE</h2>
                    </div>
                    <div>
                        <ul>
                            <li>0977 795 140</li>
                            <li>0966 435 717</li>
                            <li>0235 125 424</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div>
                        <div>
                            <h2>LIÊN HỆ</h2>
                        </div>
                        <div class="social d-flex">
                            <div class="icon">
                                <div class="facebook">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </div>
                            </div>
                            <div class="icon">
                                <div class="gmail">
                                    <a href="#"><i class="fab fa-google"></i></a>
                                </div>
                            </div>
                            <div class="icon">
                                <div class="twitter">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                            <div class="icon">
                                <div class="youtube">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="../../js/script.js"></script>
</body>

</html>